<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Management System</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
  <!-- navbar start -->
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">User Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" th:href="@{/list}">List</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar end -->
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center"> Create New User</h1>
        <div class="card-body">
          <form th:action="@{/users}" th:object="${user}" method="post">
            <div class="form-group">
              <label> Name </label>
              <input
                  type="text"
                  name="name"
                  th:field="*{name}"
                  class="form-control"
                  placeholder="Enter Name"
              />

              <label> E-mail </label>
              <input
                  type="text"
                  name="email"
                  th:field="*{email}"
                  class="form-control"
                  placeholder="Enter E-mail"
              />
            </div>

            <div class="footer">
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>